# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Node.js
node_modules
npm-debug.log
pnpm-debug.log

# Build output
.next
out

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# IDE specific files
.vscode
.idea
*.swp
*.swo

# Testing
coverage

# Misc
.DS_Store
README.md
LICENSE
