:root {
    --primary-color: #0056b3;
    /* Azul para el nombre */
    --secondary-color: #add8e6;
    /* Verde suave para los títulos de sección */
    --background-color: #ffffff;
    --left-background-color: #f0f8ff; 
    /* Color de fondo suave */
    --text-color: #333;
    /* Color del texto */
    --text-color-2: #666;
    --divider-color: #eee;

}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    margin:0;
    padding: 20px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--text-color);
}

body.printable {
    background-color: #fff;
    padding: 0px;
    
}
.container {
    display: flex;
    width: 900px; /* Ancho similar al CV de la imagen */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; /* Para que los bordes redondeados se apliquen correctamente */
}
.container.printable {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
    margin:0px;
    padding: 0px;
}


.left-panel {
    width: 35%; /* Ancho del panel izquierdo */
    border-right: 1px solid var(--secondary-color);
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 25px;
    border: 3px solid var(--secondary-color);
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-panel {
    width: 65%; /* Ancho del panel derecho */
    padding: 30px;
}

.header {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 20px;
    break-inside: avoid;
}

.header h1 {
    font-size: 2.2em;
    margin-bottom: 5px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.header .job-title {
    font-size: 1.2em;
    color: var(--text-color-2);
    margin-bottom: 15px;
    font-weight: 500;
}

.header p {
    margin: 3px 0;
    font-size: 0.85em;
    color: var(--text-color-2)
}

.section {
    margin-bottom: 25px;
    width: 100%;
    break-inside: avoid;
}
.section div.skill {

	margin-right: 1em;
	margin-top: 1px;
	float: left;
	/* border: 0.5px solid blue; */
    background-color: var(--primary-color);
    color: var(--background-color);
	border-radius: 12px;
	padding: 0px 5px;
}
.section h2 {
    font-size: 1.3em;
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.left-panel .section h2 {
    border-bottom: 2px solid var(--secondary-color);
}

.section h3  {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: var(--text-color-2);
}

.section p {
    font-size: 0.85em;
    margin-bottom: 3px;
}
a {
    color:black;
    text-decoration: none;
}

.section ul,
.section ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.skills-list{
    display: flex;
    flex-wrap: wrap;
}

.section ul li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
    font-size: 0.85em;
}

.section ul li::before {
    content: '•';
    color: var(--primary-color);
    position: absolute;
    left: 0;
}

.section ol li {
    margin-bottom: 5px;
    font-size: 0.85em;
}
.section h4{
    margin-top: 3px;
    margin-bottom: 3px;
}
.skills-grid {
    display: flex;
    gap: 30px;
}

.skills-grid ul {
    flex: 1;
}

/* Ajustes para el panel izquierdo */
.left-panel .section p {
    font-size: 0.85em;
}

.left-panel .section h3 {
    color: var(--primary-color);
    font-weight: 500;
}
ul.skills-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.skills-list li {
    margin-bottom: 5px;
    font-size: 0.75em;
    float:left;
    margin-right: 5px;
    padding: 0px 5px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 12px;
    list-style: none;
}
section{
    width: 100%;
}
.we-jobtitle{
    margin: 0px;
}
.we-company{
    margin-top: 5px;
    font-weight: bold;
    font-style: italic;
}
.we-dates{
    float:right;
}
.we-location{
    margin:0.5em 0px;
    font-weight: normal;
}
div.work-experience {
    padding-bottom: 10px;
    break-inside: avoid;
    border-bottom: 1px solid var(--divider-color);
    margin-bottom: 10px;
    h3 {
        margin: 0;
        font-size: 1em;
        color: var(--primary-color); /* Azul para los títulos de experiencia laboral */
    }
}

.breakable {
    break-inside: auto;
}